body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
dirty hack to prevent the Semantic UI icon class from changing the font
*/
.fa.icon {
	font-family: FontAwesome;
}